.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  padding-right: 90px;

  .form-label {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #414141;
    padding-bottom: 8px;
  }

  &__group:not(:last-child) {
    padding-right: 20px;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }
}
